/*============
font-family: 'Poppins', sans-serif;
=============*/
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    display: inline-block;
}

p,
ul,
li {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
  
}


/*=========================================*/
/*========Start Create Account Section=======*/
/*=========================================*/

.main-create-accoutn-area{}
.form-area {
	padding: 92px 10%;
}
.form-area .form-heading-text{
    color: #000;
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.form-area .mian-form{}
.form-area .mian-form .form-group{
    margin-bottom: 80px;
}
.form-area .mian-form .form-group .label-text{
    color: #000;

/* testo-base */
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-bottom: 30px;
display: block;
}
.form-area .mian-form .form-group .input-box {
	color: #000;
	font-family: Poppins;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	background: none;
	border-radius: 20px;
	border: 2.5px solid #7F78E0;
	padding: 15px 42px;
	width: 100%;
}



.form-area .mian-form  .flex-box-one{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.form-area .mian-form  .flex-box-one .agree {
    margin: 0 !important;
    padding: 0 !important;
}
.form-area .mian-form  .flex-box-one .agree .check-box{
    height: 24px; 
    width: 24px;
    margin-right: 24px;
}
.form-area .mian-form  .flex-box-one .agree .label-text{
    color: #000;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 21px; /* 62.5% */
margin: 0;;
}



.form-area .mian-form .form-group .submit-button{
    margin: 15px 0px;
}



.form-area .mian-form .previous-account{
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-area .mian-form .previous-account .previous-text{
    color: #000;

/* testo-base */
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.form-area .mian-form .previous-account .login-here{
    color: #000;
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.bg-area{
    background: url(../images/bg-01.png)no-repeat scroll 0 0 / 100% 92%;
}
.bg-area .bg-imgage{
    height: 100%;
    width: 100%;
}

.bonous-section{
    padding: 150px 10% 95px;
}
.bonous-section .bonous-text{
    color: #000;
font-family: Poppins;
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-bottom: 20px;
}
.bonous-section .email-box{
    color: #000;
border: none;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
border-radius: 40px;
background: var(--5, #FFDFEB);
padding: 10px;
width: 100%;
}


@media only screen and (max-width: 1199px) and (min-width: 992px) {
    .form-area {
        padding: 92px 8%;
    }
    .bonous-section {
        padding: 150px 8% 95px;
    }
    .bonous-section .bonous-text {
       
        font-size: 26px;
       
    }
}
@media all and (max-width:991px) {
    .form-area {
        padding: 50px 6%;
    }

    .bonous-section .bonous-text {
       
        font-size: 21px;
      
    }
    .bonous-section {
        padding: 20px 6% 40px;
    }
    .form-area .mian-form .form-group {
        margin-bottom: 40px;
    }
    .form-area .form-heading-text {
       
        font-size: 34px;
        margin-bottom: 20px;
      
    }
    .bg-area {
        background: url(../images/bg-01.png)no-repeat scroll 0 0 / 100% 94%;
    }
    .form-area .mian-form .form-group .label-text {
       
        font-size: 18px;
       
        margin-bottom: 8px;
     
    }
}

@media all and (max-width:400px) {
    .form-area .form-heading-text {
        font-size: 27px;
        margin-bottom: 20px;
    }
    .form-area .mian-form .form-group .label-text {
        font-size: 15px;
        margin-bottom: 8px;
    }
    .form-area .mian-form .flex-box-one .agree .label-text {
       
        font-size: 14px;
       
        line-height: 17px;
       
    }
    .form-area .mian-form .previous-account .previous-text {
      
        font-size: 16px;
      
    }
    .form-area .mian-form .previous-account .login-here {
       
        font-size: 16px;
      
    }
    .bonous-section .bonous-text {
        font-size: 17px;
    }
}





/* -------------------------------------------------------------- */
/* ------------------------- PAGE-02 START ---------------------- */
/* -------------------------------------------------------------- */
.wapper{
    background: url(../images/bg-02.png)no-repeat scroll 0 0 / 100% 100%;
}
@media all and (max-width:767px) {
    .wapper {
      
        background-size: cover;
    }
}
/*=========================================*/
/*========Start Main Product Section=======*/
/*=========================================*/

.mian-product-section{
    padding-top: 300px;
}
.product-image-area{}
.product-image-area .product-image{
    height: auto;
    width: 90%;
}

.product-details-area{
    padding-left: 2%;
}
.product-details-area .product-name{
    color: #000;

/* H1 */
font-family: Poppins;
font-size: 40px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.product-details-area .produt-price-review{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 48px 0px;
}
.product-details-area .produt-price-review .product-price{
    margin-right: 15px;
}
.product-details-area .produt-price-review .product-price .price-text{
    color: var(--2, #7F78E0);

/* prezzo2 */
font-family: Poppins;
font-size: 40px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.product-details-area .produt-price-review .product-price .price-text .euro-sign{

}
.product-details-area .produt-price-review .product-review{
    display: flex;
    justify-content: flex-start;
    align-items: center;
   
}
.product-details-area .produt-price-review .product-review .start{
    height: 20px;
    width: 20px;
    margin-right: 7px;
}
.product-details-area .produt-price-review .product-review .review-count{
    color: #000;
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.product-details-area .product-details-text{
    color: var(--testi-colore, #35293B);
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.product-details-area .cart-button-area{
    text-align: center;
    padding-top: 72px;
}
.product-details-area .add-to-cart{
    background: none;
    border: none;
    color: var(--bianco, #FFF);
text-align: center;

/* pulsanti */
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
border-radius: 30px;
background: #7F78E0;
padding: 10px 30px;
}


@media only screen and (max-width: 1199px) and (min-width: 992px) {
    .product-details-area .produt-price-review {
      
        padding: 15px 0px;
    }
    .product-details-area .product-name {
      
        font-size: 30px;
      
    }
    .product-details-area .product-details-text {
       
        font-size: 20px;
       
    }
    .product-details-area .produt-price-review .product-price .price-text {
       
        font-size: 28px;
       
    }
}

@media all and (max-width:991px) {
    .product-details-area .produt-price-review {
      
        padding: 7px 0px;
    }
    .product-details-area .product-name {
      
        font-size: 25px;
      
    }
    .product-details-area .product-details-text {
       
        font-size: 16px;
        text-align: justify;
       
    }
    .product-details-area .produt-price-review .product-price .price-text {
       
        font-size: 23px;
       
    }
    .product-image-area .product-image {
        height: auto;
        width: 98%;
    }
    .product-details-area .cart-button-area {
        text-align: center;
        padding-top: 25px;
    }

}


@media all and (max-width:767px) {

    .product-details-area {
        padding-left: 2%;
        padding: 30px 0px;
    }

}


@media all and (max-width:576px) {

    .product-details-area {

        padding: 30px 2%;
    }
}



/*=========================================*/
/*========Start Main Collapse Section=======*/
/*=========================================*/

.main-collapse-section{}

.collapse-button-area{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 110px 0px;
    flex-wrap: wrap;
}
.collapse-button-item{}
.collapse-button-item .collapse-button{
    border: none;
    background: none;
    color: #000;
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
border-radius: 30px;
border: 1px solid var(--2, #7F78E0);
background: rgba(255, 255, 255, 0.00);
padding: 5px 10px;
width: 133px;
margin: 10px 10px;
}


.collapse-item-area{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.collapse-item-area .collapse-item{
    height: 398px;
    margin-bottom: 40px;
}
.collapse-item-area .play-icon-position{
    position: relative;
}
.collapse-item-area .play-icon-position .play-icon {
	position: absolute;
	top: 40%;
	left: 45%;
    cursor: pointer;
}
.collapse-item-area .collapse-item .collapse-item-image{
    height: 398px;
    width: 100%;
}
.collapse-item-area  .custom-col-1{
flex-basis: 55%;
}
.collapse-item-area  .custom-col-2{
    flex-basis: 40%;
    }
.collapse-item-area  .text-box{
    border-radius: 20px;
background: var(--verdino-mentino, #7DDE92);
padding: 52px;
}
.collapse-item-area .collapse-item .product-item-heading-text{
    color: var(--bianco, #FFF);

/* h2 */
font-family: Poppins;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin-bottom: 15px;
}
.collapse-item-area .collapse-item .product-item-text{
    color: var(--testi-colore, #35293B);

/* TESTO */
font-family: Poppins;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.mobile{
    display: none;
}
.pc{
    display: block;
}
@media only screen and (max-width: 1399px) and (min-width: 992px) {
    .collapse-item-area .text-box {
      
        padding: 30px;
    }
    .collapse-item-area .collapse-item .product-item-text {
      
        font-size: 21px;
       
    }
    .collapse-item-area .play-icon-position .play-icon {
        position: absolute;
        top: 37%;
        left: 39%;
        cursor: pointer;
        height: 70px;
        width: 70px;
    }
}

@media all and (max-width:991px) {
    .collapse-item-area .play-icon-position .play-icon {
        position: absolute;
        top: 42%;
        left: 42%;
        cursor: pointer;
        height: 50px;
        width: 50px;
    }
    .collapse-item-area .text-box {
      
        padding: 30px;
    }
    .collapse-item-area .collapse-item .product-item-text {
      
        font-size: 18px;
       
    }
    .collapse-item-area .collapse-item .product-item-heading-text {
        color: var(--bianco, #FFF);
        font-family: Poppins;
        font-size: 22px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin-bottom: 3px;
    }
}

@media all and (max-width:767px){
    .collapse-item-area  .custom-col-1{
        flex-basis: 100%;
        }
        .collapse-item-area  .custom-col-2{
            flex-basis: 100%;
            }
            .mobile{
                display: block;
            }
            .pc{
                display: none;
            }
            .collapse-item-area .collapse-item {
                height: 300px;
                margin-bottom: 40px;
            }
            .collapse-item-area .collapse-item .collapse-item-image {
                height: 300px;
                width: 100%;
            }
}



@media all and (max-width:440px){

      
            .collapse-item-area .collapse-item {
                height: 350px;
                margin-bottom: 40px;
            }
            .collapse-item-area .collapse-item .collapse-item-image {
                height: 350px;
                width: 100%;
            }
}

@media all and (max-width:365px){

      
    .collapse-item-area .collapse-item {
        height: 380px;
        margin-bottom: 40px;
    }
    .collapse-item-area .collapse-item .collapse-item-image {
        height: 380px;
        width: 100%;
    }
    .collapse-item-area .collapse-item .product-item-heading-text {

        font-size: 19px;
       
        margin-bottom: 7px;
    }
    .collapse-item-area .collapse-item .product-item-text {
        font-size: 16px;
    }
}


/*=========================================*/
/*========Start Main Advice Section=======*/
/*=========================================*/

.main-advice-section{
    padding-top: 130px;
}
.advice-heading-area{
    padding-bottom: 85px;
}
.advice-heading-area .advice-text{
    color: var(--testi-colore, #35293B);
font-family: Poppins;
font-size: 48px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.advice-heading-area .romantico-text{
    color: var(--verdino-mentino, #7DDE92);
font-family: Poppins;
font-size: 64px;
font-style: normal;
font-weight: 400;
line-height: normal;
}




.advice-item{
    padding-right: 15px;
}
.advice-item .adive-item-heading{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.advice-item .adive-item-heading .advice-item-logo{
    margin-right: 20px;
}
.advice-item .adive-item-heading .advice-item-logo .a-icon{
    height: 75px;
    width: 75px;

}
.advice-item .adive-item-heading .advice-item-heading-text{}
.advice-item .adive-item-heading .advice-item-heading-text .heading-text{
    color: #000;
font-family: Poppins;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
}



.advice-item  .advice-details{
    margin-top: 30px;
}
.advice-item  .advice-details .advice-details-text{
    color: #000;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.adive-button-area{
    padding: 130px 0px;
    text-align: center;
}
.adive-button-area .adive-button{
    color: var(--bianco, #FFF);
text-align: center;
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding: 10px 60px;
border-radius: 30px;
background:  #7F78E0;
}

@media only screen and (max-width: 1199px) and (min-width: 992px) {

    .advice-item .adive-item-heading .advice-item-heading-text .heading-text {
        
        font-size: 19px;
       
    }
    .advice-item .adive-item-heading .advice-item-logo .a-icon {
        height: 50px;
        width: 50px;
    }
    .advice-item .adive-item-heading .advice-item-logo {
        margin-right: 7px;
    }
    .advice-item .advice-details .advice-details-text {
       
        font-size: 15px;
       
    }
    .advice-heading-area {
        padding-bottom: 50px;
    }
    .advice-heading-area .romantico-text {
       
        font-size: 58px;
       
    }
    .adive-button-area{
        padding: 70px 0px;
        text-align: center;
    }
}
@media all and (max-width:991px) {
    .advice-item{
        padding-right: 0px;
        padding: 40px 3%;
    }
    .main-advice-section {
        padding-top: 60px;
    }
    .advice-heading-area {
        padding-bottom: 40px;
    }
    .advice-heading-area .romantico-text {
       
        font-size: 50px;
       
    }
    .advice-heading-area .advice-text {
       
        font-size: 40px;
       
    }
    .adive-button-area {
        padding: 20px 0px;
        text-align: center;
    }
}

@media all and (max-width:380px) {
    .advice-heading-area .romantico-text {
        font-size: 44px;
    }
    .advice-item .adive-item-heading .advice-item-heading-text .heading-text {
        
        font-size: 19px;
       
    }
    .advice-item .adive-item-heading .advice-item-logo {
        margin-right: 11px;
    }
    .advice-item .advice-details .advice-details-text {
       
        font-size: 15px;
       
    }
    .adive-button-area .adive-button {
       
        padding: 10px 45px;
       
    }
}







/*=========================================*/
/*========Start Main Romantico Section=======*/
/*=========================================*/
.main-romantico-section{}
.romantico-image-area{

}
.romantico-image-area .romantico-icon{
    height: auto;
    width: 100%;
}
.romantico-text-area{

}
.romantico-text-area .romantico-text-two{
    color: var(--testi-colore, #35293B);
font-family: Poppins;
font-size: 40px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.romantico-text-area .rating-count{
    color: #000;

/* TESTO */
font-family: Poppins;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.romantico-text-area .romatico-name{
    color: #000;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}




@media all and (max-width:480px) {
    .romantico-text-area .romantico-text-two {
      
        font-size: 29px;
       
    }
    .romantico-text-area .rating-count {
       
        font-size: 18px;
       
    }
}

@media all and (max-width:345px) {
    .romantico-text-area .romantico-text-two {
      
        font-size: 21px;
       
    }
    .romantico-text-area .rating-count {
       
        font-size: 15px;
       
    }
}







/*=========================================*/
/*========Start Main Review Section=======*/
/*=========================================*/
.main-review-area{}
.review-heading{
    padding: 47px 0px 130px;
}
.review-heading .review-heading-text{
    color: var(--testi-colore, #35293B);
font-family: Poppins;
font-size: 42px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.flex-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.review-item {
	flex-basis: 48%;
	margin-bottom: 40px;
	border-radius: 20px;
	background: var(--verdino-mentino, #7DDE92);
	padding: 50px;
	height: 380px;
}
.review-item .review-star-area{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.review-item .review-star-area .white-star{
    height: 27px;
    width: 29px;
    cursor: pointer;
}




.review-item  .review-details{
    padding: 10px 0px;
}
.review-item  .review-details .review-topic{
    color: var(--testi-colore, #35293B);
font-family: Poppins;
font-size: 32px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.review-item  .review-details.review-text-details{
    color: var(--nero, #000);
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.review-item  .user-details-date{
    padding-top: 91px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.review-item  .user-details-date .user-details{
    display: flex;
    justify-items: flex-start;
    align-items: center;
}
.review-item  .user-details-date .user-details .check-mark{
    height: 20px;
    width: 20px;
    margin-right: 20px;
}
.review-item  .user-details-date .user-details .user-name{
    color: var(--nero, #000);
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.review-item  .user-details-date .review-date{}
.review-item  .user-details-date .review-date .date-text{
    color: var(--nero, #000);
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.read-more-button-area{
    text-align: center;
    padding: 130px 0px;
}
.read-more-button-area .readmore{
    display: flex;
    justify-content: center;
    align-items: center;
}
.read-more-button-area .readmore .plus{
    margin: 10px;
}
.read-more-button-area .readmore .read-more-text{
    color: var(--testi-colore, #35293B);
font-family: Poppins;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
}


@media all and (max-width:991px) {
    .review-item{
        flex-basis: 48%;
        margin-bottom: 40px;

    padding: 20px;
    }
    .review-item .review-details .review-topic {
       
        font-size: 24px;
       
    }
    .review-heading {
        padding: 70px 0px 70px;
    }
    .review-item .user-details-date {
        padding-top: 64px;
       
    }
}
@media all and (max-width:767px) {
    .review-item{
        flex-basis: 97%;
        margin: 0 auto;
        margin-bottom: 40px;

    padding: 50px;
    }
    .review-item .review-details .review-topic {
       
        font-size: 27px;
        padding-bottom: 10px;
       
    }
    .read-more-button-area{
        text-align: center;
        padding: 40px 0px;
    }
    .review-item .user-details-date {
        padding-top: 64px;
       
    }
    .review-item {
       
        height: unset;
    }

}

@media all and (max-width:480px) {
    .review-item{
        flex-basis: 98%;
      

    padding: 30px;
 
    }
    .review-item .review-details .review-topic {
       
        font-size: 27px;
       
    }
    .review-item .user-details-date {
        padding-top: 30px;

    }
}

@media all and (max-width:380px) {
    .review-item .review-details .review-topic {
        font-size: 23px;
    }

}
@media all and (max-width:355px) {
    .review-item .review-details .review-topic {
        font-size: 20px;
    }

}



/*=========================================*/
/*========Start Main technology Section=======*/
/*=========================================*/

.main-technology-section{}
.technology-item{}
.technology-item .technology-heading{
    color: #000;
font-family: Poppins;
font-size: 40px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.technology-item .info-item{}
.technology-item .info-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 100px;
}
.technology-item .info-item .info-text{
    color: #000;

/* TESTO */
font-family: Poppins;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.technology-item .info-item .plus-info{}


@media only screen and (max-width: 1199px) and (min-width: 992px) {
    .technology-item .technology-heading {
      
        font-size: 31px;
       
    }
    .technology-item .info-item {
       
        padding-bottom: 60px;
    }
}
@media all and (max-width:991px) {
    .technology-item .technology-heading {
        font-size: 23px;
    }
    .technology-item .info-item {
       
        padding-bottom: 30px;
    }
    .technology-item .info-item .info-text {
       
        font-size: 16px;
       
    }
}

@media all and (max-width:767px) {
    .technology-item .technology-heading {
        font-size: 29px;
    }
    .technology-item .info-item {
       margin-top: 30px;
        padding-bottom: 30px;
    }
    .technology-item .info-item .info-text {
       
        font-size: 16px;
       
    }
}

@media all and (max-width:350px) {
    .technology-item .technology-heading {
        font-size: 23px;
    }
    .technology-item .info-item {
       margin-top: 30px;
        padding-bottom: 30px;
    }
    .technology-item .info-item .info-text {
       
        font-size: 15px;
       
    }
}







/*==============================================================*/
/*========Start Main romantic vs. other vibrators Section=======*/
/*==============================================================*/

.romantic-vibrators-section{}
.romantic-vibrator-heading{
    padding: 130px 0px;
}
.romantic-vibrator-heading .ro-vi-heading-text{
    color: #7F78E0;
font-family: Poppins;
font-size: 64px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.romantic-vibrator-heading .ro-vi-heading-text-two{
    color: #000;
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.flex-box-two{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
}
.flex-box-two .romantico-vibrator-item{
    flex-basis: 22%;
}
.flex-box-two .romantico-vibrator-item .ul{}
.flex-box-two .romantico-vibrator-item .ul .romantico-list{
    color: #000;
font-family: Poppins;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
padding-bottom: 46px;
}
.flex-box-two .romantico-vibrator-item .ul .custom-height {
	height: 140px;
}
.flex-box-two .romantico-vibrator-item .ul .romantico-list .romantico-iamge{}
.flex-box-two .romantico-vibrator-item .ul .small-font{
    color: #000;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.flex-box-two .romantico-vibrator-item .ul .flex-box-three{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-box-two .romantico-vibrator-item .ul .flex-box-three .color-box{
    height: 17px;
    width: 17px;
    border-radius: 50%;
    background: #7F78E0;
}


.custom-bb-color  {
    border-radius: 20px;
background: #ECECEC;
padding: 20px 10px;
}


@media only screen and (max-width: 1199px) and (min-width: 992px) {
    .flex-box-two .romantico-vibrator-item {
        flex-basis: 24%;
    }
    .flex-box-two .romantico-vibrator-item .ul .small-font {
       
        font-size: 20px;
       
    }
    .flex-box-two .romantico-vibrator-item .ul .romantico-list {
       
        font-size: 20px;
       
        padding-bottom: 25px;
    }
}
@media all and (max-width:991px) {
    .flex-box-two .romantico-vibrator-item {
        flex-basis: 45%;
        margin-bottom: 60px;
    }
    .romantic-vibrator-heading .ro-vi-heading-text {
      
        font-size: 50px;
       
    }
    .romantic-vibrator-heading .ro-vi-heading-text-two {
        
        font-size: 35px;
       
    }
    .romantic-vibrator-heading {
        padding: 70px 0px;
    }
}
@media all and (max-width:767px) {
    .flex-box-two .romantico-vibrator-item {
        flex-basis: 48%;
        margin-bottom: 60px;
    }
    .flex-box-two .romantico-vibrator-item .ul .small-font {
       
        font-size: 20px;
       
    }
    .flex-box-two .romantico-vibrator-item .ul .romantico-list {
       
        font-size: 20px;
       
        padding-bottom: 25px;
    }
    .romantic-vibrator-heading .ro-vi-heading-text {
      
        font-size: 50px;
       
    }
    .romantic-vibrator-heading .ro-vi-heading-text-two {
        
        font-size: 35px;
       
    }
    .romantic-vibrator-heading .ro-vi-heading-text {
      
        font-size: 40px;
       
    }
    .romantic-vibrator-heading .ro-vi-heading-text-two {
        
        font-size: 30px;
       
    }
}
@media all and (max-width:577px) {
    .flex-box-two .romantico-vibrator-item {
        flex-basis: 98%;
        margin: 0 auto;
        margin-bottom: 60px;
        padding: 50px 20px;
    }
    .romantic-vibrator-heading {
        padding: 70px 25px 0px;
        margin-bottom: -100px;
    }
}


/*==============================================================*/
/*========Start Main romantic vs. other vibrators Section=======*/
/*==============================================================*/
.machepiacere-section{}
.machepiacere-heading{
    padding: 130px 0px 93px;
}
.machepiacere-heading .machepiacere-heading-text{
    color: var(--verdino-mentino, #7DDE92);
font-family: Poppins;
font-size: 64px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.flex-box-four{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-box-four .machepiacere-item{
    flex-basis: 30%;
    padding: 20px;
}
.flex-box-four .machepiacere-item .machepiacere-image-area{
    position: relative;
}

.flex-box-four .machepiacere-item .machepiacere-image-area .machepiacere-img{
    height: auto;
    width: 100%;
}
.flex-box-four .machepiacere-item .machepiacere-image-area .machepiacere-love{
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}




.flex-box-four .machepiacere-item .machepiacere-details{}
.flex-box-four .machepiacere-item .machepiacere-details .machepiacere-details-heading{
    color: #000;

/* H3 */
font-family: Poppins;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: normal;
padding: 10px 0px;
}
.flex-box-four .machepiacere-item .machepiacere-details .machepiacere-details-text{
    color: #000;

/* didascalia */
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: -0.28px;
}
.flex-box-four .machepiacere-item .machepiacere-details .price-cart-area{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}
.flex-box-four .machepiacere-item .machepiacere-details .price-cart-area .machepiacere-price-area{

}
.flex-box-four .machepiacere-item .machepiacere-details .price-cart-area .machepiacere-price-area .machepiacere-price{
    color: var(--viola, #7F78E0);
font-family: Poppins;
font-size: 40px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.flex-box-four .machepiacere-item .machepiacere-details .price-cart-area .machepiacere-cart-area{}
.flex-box-four .machepiacere-item .machepiacere-details .price-cart-area .machepiacere-cart-area .cart-link{}
.flex-box-four .machepiacere-item .machepiacere-details .price-cart-area .machepiacere-cart-area .cart-link .cart-icon{
    height: 55px;
    width: 55px;
}








/* -------------------------------------------------------------- */
/* ------------------------- PAGE-03 START ---------------------- */
/* -------------------------------------------------------------- */


/*=====================================*/
/*========Start Main Heor Section=======*/
/*======================================*/

.main-hero-section{
    background: url(../images/hero-bg.png)no-repeat scroll 0 0 / 100% 100%;
    
}
.hero-left{
    padding: 750px 0px 170px;
}
.hero-left .hero-text{
    color: #FFF;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
font-family: Poppins;
font-size: 78px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.hero-right{
    padding: 750px 0px 170px;
  
}
.hero-right .hero-rating-text{
    color: #FFF;
font-family: Poppins;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.hero-right .hero-rating{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.hero-right .hero-rating .hero-star{}
@media only screen and (max-width: 1199px) and (min-width: 992px) {
    .hero-left .hero-text {
       
        font-size: 65px;
       
    }
    .hero-right .hero-rating-text {
       
        font-size: 28px;
       
    }
}
@media all and (max-width:991px) {
    .hero-left .hero-text {
       
        font-size: 45px;
       
    }
    .hero-right .hero-rating-text {
       
        font-size: 20px;
       
    }
    .hero-left {
        padding: 550px 0px 170px;
    }
    .hero-right {
        padding: 550px 0px 170px;
    }
    .main-hero-section {
        
        padding-right: 30px;
    }
}

@media all and (max-width:767px) {
    .main-hero-section {
        
        padding-right: 0px;
    }
    .hero-left .hero-text {
       
        font-size: 35px;
       
    }
    .hero-right .hero-rating .hero-star{
        height: 15px;
        width: 15px;
    }
    .hero-left {
        padding: 350px 0px 170px;
    }
    .hero-right {
        padding: 350px 0px 170px;
    }
}
@media all and (max-width:576px) {
    .hero-left {
        padding: 300px 0px 170px;
    }
    .hero-right {
        padding: 300px 0px 170px;
    }
}
@media all and (max-width:440px) {
    .main-hero-section {
       
        padding: 0px 10px;
    }
    .hero-left .hero-text {
       
        font-size: 24px;
       
    }
    .hero-right .hero-rating .hero-star{
        height: 15px;
        width: 15px;
    }
    .hero-left {
        padding: 200px 0px 130px;
    }
    .hero-right {
        padding: 200px 0px 130px;
    }
}

@media all and (max-width:480px) {
    .main-hero-section {
        padding: 0px 33px 0px 15px;
    }
    .hero-left .hero-text {
        font-size: 22px;
    }
}


/*=====================================*/
/*========Start Main Body Section=======*/
/*======================================*/

.body-wapper{}


.body-header-area{
    padding: 30px 0px 70px;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: -100px;
    border-bottom: 1px solid var(--grigio-chiaro, #929292);
}
.body-header-area .body-header-item{
    flex-basis: 18%;
    text-align: center;
}
.body-header-area .body-header-item .body-icon{
    height: 70px;
    width: 100%;
}
.body-header-area .body-header-item .p-name{
    color: #000;
text-align: center;
font-family: Assistant;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding: 10px 0px;
height: 40px;
}
.body-header-area .body-header-item .p-heading{
    color: #000;
text-align: center;
font-family: Assistant;
font-size: 40px;
font-style: normal;
font-weight: 600;
line-height: normal;
height: 70px;
}

@media only screen and (max-width: 1199px) and (min-width: 992px) {
    .body-header-area .body-header-item .p-heading {
      
        font-size: 30px;
        height: 50px;
    }
}
@media all and (max-width:991px) {
    .body-header-area .body-header-item .p-heading {
      
        font-size:25px;
        height: 50px;
    }
    .body-header-area .body-header-item .p-name {
       
        font-size: 17px;
        padding: 10px 0px;
        height: 32px;
    }
    .body-header-area .body-header-item .body-icon {
        height: 50px;
        width: 100%;
    }
    .body-header-area {
        padding: 30px 0px 20px;
       
    }
}
@media all and (max-width:767px) {
    .body-header-area .body-header-item .p-heading {
      
        font-size:20px;
        height: 50px;
    }
    .body-header-area .body-header-item .p-name {
       
        font-size: 15px;
        padding: 10px 0px;
        height: 32px;
    }
    .body-header-area .body-header-item .body-icon {
        height: 40px;
        width: 100%;
    }
    .body-header-area {
        padding: 30px 0px 0px;
       
    }
}

@media all and (max-width:576px) {
    .body-header-area .body-header-item .p-heading {
      
        font-size:18px;
        height: 50px;
    }
    .body-header-area .body-header-item .p-name {
       
        font-size: 15px;
        padding: 10px 0px;
        height: 32px;
    }
    .body-header-area .body-header-item .body-icon {
        height: 30px;
        width: 100%;
    }
    .body-header-area {
        padding: 30px 0px 0px;
       
    }
}
@media all and (max-width:480px) {
    .body-header-area .body-header-item .p-heading {
      
        font-size:16px;
        height: 50px;
    }
    .body-header-area .body-header-item .p-name {
       
        font-size: 14px;
        padding: 10px 0px;
        height: 25px;
    }
    .body-header-area .body-header-item .body-icon {
        height: 30px;
        width: 100%;
    }
    .body-header-area {
        padding: 30px 0px 0px;
       
    }
}
@media all and (max-width:400px) {
    .body-header-area .body-header-item .p-heading {
      
        font-size:15px;
        height: 50px;
    }
    .body-header-area .body-header-item .p-name {
       
        font-size: 14px;
        padding: 10px 0px;
        height: 25px;
    }
    .body-header-area .body-header-item .body-icon {
        height: 25px;
        width: 100%;
    }
    .body-header-area {
        padding: 30px 0px 0px;
       
    }
}
/* ------------Body Left Area Start--------------------- */
.flex-box-six{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0;
    padding: 0 ;
}

.main-body-right-area{
    flex-basis: 70%;
    padding: 0px 53px 100px;
    border-left: 1px solid var(--grigio-chiaro, #929292);

}


.body-wapper{
    position: relative;

}
.main-body-left-area {
	flex-basis: 30%;
	padding: 104px 29px 50px;
	background: #fff;

}
 /* .main-body-left-area {
	flex-basis: 30%;
	padding: 104px 29px 50px;
	background: #fff;
	 position: fixed; 
	 left: 0%; 
	 top: 0%; 
	 height: 100%; 
	 width: 20%; 
}  */
.main-body-left-area .left-menu-heading{
    color: #A72A2A;

font-family: Poppins;
font-size: 34px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-bottom: 40px;
}

.main-body-left-area .menu-ul {
	list-style: disc;
	padding: 20px 30px;
}
.main-body-left-area .menu-ul .menu-list{
    color: #000;
font-family: Assistant;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin-bottom: 10px;
}
.main-body-left-area .menu-ul .menu-list .menu-link{
    color: #000;
font-family: Assistant;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.buy-button-area{
    text-align: center;
    margin-top: 88px;
}
.buy-button-area .buy-button{
    color: #FFF;
font-family: Poppins;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
padding: 15px;
width: 100%;
    border-radius: 60px;
background: #373737;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

/* ------------Body Right Area Start--------------------- */
.main-body-right-area{
    background: #fff;
}
.main-body-right-area .right-body-item{
    padding: 120px 0px 0px;
}
.main-body-right-area .right-body-item .body-item-image{
    height: auto;
    width: 100%;
}

.main-body-right-area  .step-text{
    color: #929292;
font-family: Poppins;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-bottom: 25px;
}
.main-body-right-area .step-details-text{
    color: #000;
font-family: Assistant;
font-size: 28px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

@media all and (max-width:991px) {
    .main-body-right-area .step-details-text {
       
        font-size: 20px;
      
    }
    .main-body-left-area .menu-ul .menu-list .menu-link {
      
        font-size: 18px;
      
    }
    .main-body-right-area .right-body-item {
        padding: 40px 0px 0px;
    }
}
@media all and (max-width:767px){
    .flex-box-six{
       flex-wrap: wrap;
    }
    
    .main-body-right-area{
        flex-basis: 100%;
        padding: 0px 25px 100px;
        border-left:none;
    
    }
    

    .main-body-left-area {
        padding: 50px 29px 50px;
        flex-basis: 100%;
        border-bottom: 1px solid var(--grigio-chiaro, #929292);
       
    }
    .footer-item .footer-btn .prepara-button {
       
        font-size: 19px;
       
    }
    .main-body-right-area {
  
    }
    
}



/*=====================================*/
/*========Start Main Footer Section=======*/
/*======================================*/

.main-footer-section{}
.footer-heading{
    padding: 64px 0px;
}
.footer-heading .footer-heading-text{
    color: #FFF;
font-family: Poppins;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: normal;
}


.flex-box-eight{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-item{
    flex-basis: 30%;
}
.footer-item .footer-item-image{
    height: auto;
    width: 100%;
}
.footer-item .footer-btn{
    text-align: center;
}
.footer-item .footer-btn .prepara-button{
    color: #1E1E1E;
text-align: center;
font-family: Poppins;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
border-radius: 60px;
background: #FFF;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
padding: 15px;
width: 255px;
margin: 74px auto;


}


@media all and (max-width:991px) {
    .flex-box-eight{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
    .footer-item{
        flex-basis: 95%;
        margin: 0 auto;
    }
    .footer-heading .footer-heading-text {
       
        font-size: 27px;
       
    }
}
















/* [[[[[[[[[[[[[[[[[[[[-----CUSTOM ANIMATION------]]]]]]]]]]]]]]]]]]]]] */




/* -----------------01--------------------- */
  .custom-hover{

   
    position: relative !important;
    text-decoration: none !important;
    color: #7F78E0 !important;
   
    background-size: 300% !important;
    transition: all 0.6s !important;

  
}

.bg-color{
color: #fff !important;
background-image: linear-gradient(120deg, #7F78E0 50%, #fff 50%) !important;
}
.custom-hover:hover {
color: #7F78E0 !important;
background-position: 100% !important;
transform: translateX(0.5rem) !important;
}



/* -----------------02--------------------- */


.custom-hover-collapse{

   
    position: relative !important;
    text-decoration: none !important;
    color: #7F78E0 !important;
   
    background-size: 300% !important;
    transition: all 0.6s !important;

  
}

.bg-color-two{
color: #7F78E0 !important;
background-image: linear-gradient(120deg, rgba(255, 255, 255, 0) 50%, #7F78E0 50%) !important;
}
.custom-hover-collapse:hover {
color: #fff !important;
background-position: 100% !important;
transform: translateX(0.5rem) !important;
}






















/* -----------------03--------------------- */


.custom-hover-buy{

   
    position: relative !important;
    text-decoration: none !important;
    color: #373737 !important;
   
    background-size: 300% !important;
    transition: all 0.6s !important;

  
}

.bg-color-three{
color: #fff !important;
background-image: linear-gradient(120deg, #373737 50%, #fff 50%) !important;
}
.custom-hover-buy:hover {
color: #373737 !important;
background-position: 100% !important;
transform: translateX(0.5rem) !important;
}





/* -----------------04--------------------- */


.custom-hover-pre{

   
    position: relative !important;
    text-decoration: none !important;
    color: #373737 !important;
   
    background-size: 300% !important;
    transition: all 0.6s !important;

  
}

.bg-color-four{
color: #373737 !important;
background-image: linear-gradient(120deg, #fff 50%, #373737 50%) !important;
}
.custom-hover-pre:hover {
color: #fff !important;
background-position: 100% !important;
transform: translateX(0.5rem) !important;
}















 /* -----------------05--------------------- */ 
.input-box:focus {
    outline: none;
    border: 5px solid transparent;
    background-image: linear-gradient(white, white), linear-gradient(315deg, rgb(236, 160, 255), rgb(170, 178, 255), rgb(132, 255, 201));
    background-origin: border-box;
    background-clip: padding-box, border-box;
    animation: bg-hue 2s linear infinite;
  }
  
  /* @keyframes for the gradient animation */
  @keyframes bg-hue {
    100% {
      filter: hue-rotate(360deg);
    }
  }